* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

img {
    border-radius: 50%;
    width: 72px;
    max-height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

button {
    background-color: #333333;
    color: #ffffff;
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 0.5rem;
    font-weight: 700;
}

button:hover {
    background-color: #c5f82a;
    color: #333333;
    cursor: pointer;
}

.card {
    background-color: #1f1f1f;
    width: 320px;
    text-align: center;
    border-radius: 0.6rem;
    padding-top: 25px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 3px;
}

.profile-name {
    font-size: 0.61rem;
    font-weight: lighter;
    margin-top: 10px;
}

.location {
    color: #c5f82a;
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 8px;
}

.description {
    font-size: 0.75rem;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 22px;
}

.attribution {
    color: #ffffff;
    font-size: 9px;
    margin-top: 10px;
    text-align: center;
    opacity: 0.8;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#button-1 {
    margin-top: 7px;
}

#button-2, #button-3, #button-4, #button-5 {
    margin-top: 12px;
}

#button-5 {
    margin-bottom: 30px;
}


@media (max-width: 350px) {
   /** .card {
        display: block;
        position: relative;
    }**/
}